
.gallery {

    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 60px;

}

.info {
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}
    
